.section-1 {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  min-height: 70vh;
  .moto-1 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 56px;
    font-weight: 900;
    font-family: nunito;
    animation-name: bg;
    animation-duration: 2s;

    .text-1 {
      color: #000000;
      padding-inline: 8px;
    }
    .text-2 {
      color: #1f8bb1;
      padding-inline: 8px;
    }
  }
  .moto-2 {
    display: flex;
    color: #000000;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-family: nunito;
    animation-name: bg;
    animation-duration: 2s;
  }
  .learn-more-button {
    animation-name: bg;
    animation-duration: 2s;
    background-color: black;
    color: white;
    padding: 9px 34px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
  }
}
.grey-background {
  background-color: rgba(243, 243, 243, 0.9) !important;
}
.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  .section-2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    font-family: nunito;
    .text-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      animation-name: bg;
      animation-duration: 2s;

      .text-1 {
        color: #000000;
        padding-inline: 8px;
        font-size: 20px;
      }
      .text-2 {
        color: #000000;
        padding-inline: 8px;
        font-size: 40px;
        text-align: start;
      }
      .text-3 {
        color: #1f8bb1;
        padding-inline: 8px;
        font-size: 40px;
      }
    }
    .cards-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      padding: 30px 0;

      .card {
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 350px;
        background-color: #ffffff;
        border: 1px solid#cccccc;
        border-radius: 20px;
        animation-name: bg;
        animation-duration: 2s;

        .borderless {
          border-bottom: none !important;
        }
        .card-details {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          gap: 20px;
          color: #000000;
          padding-bottom: 40px;
          border-bottom: 1px solid #e2e2e2;
          height: 300px;
          .card-name {
            background-color: rgb(236, 236, 236);
            color: rgb(29, 29, 29);
            padding: 9px 34px;
            border-radius: 25px;
            font-size: 18px;
          }
          .card-header {
            text-align: start;
            font-size: 35px;
          }
          .small-font {
            font-size: 18px !important;
            color: #000000 !important;
            font-weight: 100;
          }
          .card-description {
            text-align: start;
            font-size: 20px;
            color: #afafaf;
          }
        }
        .reverse {
          flex-direction: row-reverse;
        }
        .card-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 40px;

          .get-started-button {
            background-color: transparent;
            color: rgb(29, 29, 29);
            padding: 9px 34px;
            border-radius: 25px;
            font-size: 16px;
            border: 1px solid#cccccc;
            font-weight: 600;
            cursor: pointer;
          }
        }
        &:hover {
          background-color: #1e8bb0;
          .card-description {
            color: #ffffff;
          }
          .card-header {
            color: #ffffff;
          }
          .small-font {
            color: #ffffff !important;
          }
          .card-footer {
            .get-started-button {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .section-3 {
    background-image: url("../../assets/seses.png");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
    font-family: nunito;
    @media screen and (max-width: 1000px) {
      background-image: none;
    }
    .section-group {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 60px;
      padding: 30px 0;
      animation-name: bg;
      animation-duration: 2s;
      @media screen and (max-width: 1000px) {
        width: 90%;
      }
      .sec-header {
        @media screen and (max-width: 1000px) {
          width: 90%;
        }
        width: 65%;
        color: #000000;
        padding-inline: 8px;
        font-size: 35px;
        text-align: start;
        .blue {
          color: #1e8bb0;
        }
      }
      .p {
        @media screen and (max-width: 1000px) {
          width: 90%;
        }
        width: 65%;
        color: #000000;
        padding-inline: 8px;
        font-size: 18px;
        text-align: start;
      }
    }
  }
}

.section-4 {
  background-color: #090c2d;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  font-family: nunito;
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 30px 0;
    .read-more {
      display: flex;
      justify-content: flex-start;
      .read-more-button {
        background-color: #ffffff1a;
        color: rgb(255, 255, 255);
        padding: 9px 34px;
        border-radius: 25px;
        font-size: 16px;
        border: unset;
      }
    }
    .values-moto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      animation-name: bg;
      animation-duration: 2s;
      .why {
        background-color: transparent;
        color: rgb(255, 255, 255);
        padding: 9px 34px;
        border-radius: 25px;
        font-size: 16px;
        border: 1px solid#cccccc;
      }
      .moto-header {
        color: #ffffff;
        padding-inline: 8px;
        font-size: 40px;
        text-align: start;
        .blue {
          color: #1e8bb0;
        }
      }
    }
    .end {
      justify-content: flex-end !important;
    }
    .inovations {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      animation-name: bg;
      animation-duration: 2s;
      .paragraph {
        width: 400px;
        color: #ffffff;
        padding-inline: 8px;
        font-size: 16px;
        text-align: start;
      }
      .inovation-details {
        padding: 30px 0;
        width: 1000px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        border-bottom: 1px solid #d8d4c533;
        .ino-header {
          padding-inline: 15px;
        }
        .ino-paragraph {
          width: 400px;
          font-size: 14px;
          text-align: start;
        }
      }
    }
  }
}

.section-5 {
  background-color: rgba(243, 243, 243, 0.9);
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  font-family: nunito;
  .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0;
    .left {
      width: 550px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      animation-name: bg;
      animation-duration: 2s;
      .left-p {
        color: #000000;
        padding-inline: 8px;
        font-size: 20px;
        text-align: start;
      }
      .left-header {
        color: #000000;
        padding-inline: 8px;
        font-size: 35px;
        text-align: start;
        .blue {
          color: #1e8bb0;
        }
      }
    }
    .time-line {
      width: 550px;
      display: flex;
      animation-name: bg;
      animation-duration: 2s;
      .lines {
        margin-top: 6px;
        .yellow {
          background: #eda059 !important;
        }
        .dot {
          width: 14px;
          height: 14px;
          background: #1e8bb0;
          border-radius: 7px;
        }
        .line {
          height: 170px;
          width: 2px;
          background: #d1d6e6;
          margin-left: 5.3px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        .right-p {
          color: #000000;
          padding-inline: 8px;
          font-size: 20px;
          text-align: start;
          padding: 0 20px;
          height: 155px;
        }
      }
    }
  }
}

.section-6 {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  font-family: nunito;
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    padding: 30px 0;
    .cards-container {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 30px;
      .no-borders {
        border: unset !important;
        align-items: flex-start !important;
        justify-content: space-between !important;
        background-color: transparent !important;
      }
      .card {
        animation-name: bg;
        animation-duration: 2s;

        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        width: 250px;
        height: 130px;
        border: 1px solid#cccccc;
        border-radius: 20px;
        .card-header {
          text-align: start;
          font-size: 35px;
          color: #000000;
          .blue {
            color: #1e8bb0 !important;
          }
        }
        .card-description {
          text-align: start;
          font-size: 14px;
          color: #000000;
        }
      }
    }
  }
  .slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .slider-header {
      text-align: start;
      font-size: 35px;
      color: #000000;
      .blue {
        color: #1e8bb0 !important;
      }
    }
    .slider {
      margin: auto;
      overflow: auto;
      width: 100%;
      animation-name: bg;
      animation-duration: 2s;
      .slide-track {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        padding: 20px 0;

        .slide {
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 40px;
          width: 250px;
          height: 130px;
          border: 1px solid#cccccc;
          border-radius: 20px;
        }
      }
    }
  }
}

.section-7 {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("../../assets/Rectangle.png");
  background-position: right;
  background-size: 65%;
  @media screen and (max-width: 1000px) {
    background-size: 0%;
  }
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  font-family: nunito;
  .container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0;

    .left {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding: 30px 0;
      gap: 30px;
      overflow: hidden;
      animation-name: bg;
      animation-duration: 2s;
      .cards {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 30px;
        @keyframes slide {
          from {
            opacity: 0.5;
            transform: translatex(-20%) scale(0.8);
          }
          to {
            opacity: 1;
            transform: translatex(0) scale(0.1) !important;
          }
        }
        @keyframes next-slide {
          from {
            opacity: 0.5;
            transform: translatex(2%) scale(0.6);
          }
          to {
            opacity: 1;
            transform: translatex(10%) scale(0.8);
          }
        }
        .active {
          display: flex !important;
          animation-name: slide;
          animation-duration: 1s;
        }
        .next {
          display: flex !important;
          background-color: #1c2e61 !important;
          animation-name: next-slide;
          animation-duration: 2s;
          transform: translatex(10%) scale(0.8);
          z-index: 0;
        }
        .card {
          background-color: #1f8bb1;
          width: 350px;
          display: none;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          color: #ffffff;
          text-align: start;
          border-radius: 10px;
          padding: 30px;
          gap: 20px;
          .commas {
            font-size: 50px;
          }
          .review {
            font-size: 14px;
          }
          .rating {
            font-size: 20px;
          }
          .client {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .avatar {
              width: 80px;
              height: 80px;
              border-radius: 50%;
            }
            .client-details {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .client-name {
                font-size: 16px;
              }
              .position {
                font-size: 14px;
              }
            }
          }
        }
      }

      .buttons-container {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        animation-name: bg;
        animation-duration: 2s;

        .hide {
          display: none !important;
        }
        .slider-button {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }

    .right {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      padding: 30px 0;
      text-align: start;
      animation-name: bg;
      animation-duration: 2s;
      .right-name {
        color: rgb(29, 29, 29);
        font-size: 18px;
      }
      .right-header {
        width: 50%;
        color: #000000;
        font-size: 35px;
        .blue {
          color: #1e8bb0;
        }
      }
      .right-description {
        width: 70%;
        color: rgb(29, 29, 29);
        font-size: 18px;
      }
    }
  }
}

@keyframes bg {
  from {
    transform: translatey(-50%) scale(0.8);
  }
  to {
    transform: translatey(0) scale(1);
  }
}
.section-8 {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("../../assets/people.png");
  background-position: 95%;
  background-size: 40%;
  @media screen and (max-width: 1000px) {
    background-size: 0%;
  }
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  font-family: nunito;
  .container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px 0;
    padding: 30px 0;
    .about-us {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: start;
      gap: 60px;
      padding: 60px 0;
      animation-name: bg;
      animation-duration: 2s;

      .us-header {
        font-size: 50px;
        color: #000000;
        .blue {
          color: #1e8bb0;
        }
      }
      .us-description {
        color: #000000;
        font-size: 22px;
      }
      .us-more {
        background-color: #1e8bb0;
        color: white;
        padding: 9px 34px;
        border: unset;
        border-radius: 25px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

.section-9 {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  font-family: nunito;
  background-color: rgba(243, 243, 243, 0.9);
  .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px 0;
    padding: 30px 0;
    .left {
      width: 550px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      text-align: start;
      padding-right: 30px;
      .l-header {
        font-size: 40px;
        color: #000000;
        .blue {
          color: #1e8bb0;
        }
      }
      .description {
        font-size: 14px;
        color: #afafaf;
      }
      .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
        .input-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 100%;
          gap: 5px;
          .label {
            font-size: 25px;
            color: #000000;
          }
          .input-field {
            border-radius: 32px;
            border: unset;
            padding: 17px;
            width: 90%;
            color: #1e8bb0;
            font-family: nunito;
          }
        }
        .submit-button {
          background-color: #1e8bb0;
          color: white;
          padding: 9px 34px;
          border: unset;
          border-radius: 25px;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
    .right {
      width: 550px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      text-align: start;
      .details-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        color: #000000;
        .text-1 {
          font-size: 25px;
        }
        .text-2 {
          width: 100%;
          font-size: 16px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: nunito;
  background-color: #090c2d;
  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 60px 0;
    padding: 30px 0;
    .social-media {
      padding: 40px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      border-bottom: 1px solid #1e8bb0;
      .swiso-logo {
        width: 275px;
      }
      .sm-group {
        display: flex;
        justify-content: space-between;

        gap: 20px;
        .sm-logo {
          width: 80px;
        }
      }
    }
    .footer-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 40px;
      padding: 20px 0;
      .contact {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: start;
        .contact-header {
          font-size: 25px;
        }
        .contact-description {
          font-size: 16px;
        }
        .contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 14px;

          .contacts-header {
            color: #1e8bb0;
            font-size: 25px;
          }
          .contacts-details {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            .detail {
              width: 50%;
            }
          }
        }
      }
      .brief {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 400px;
        .pages {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 20px;
          font-size: 14px;
          .pages-header {
            font-size: 25px;
            padding-bottom: 10px;
          }
        }
      }
      .f-about-us {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        .about-us-header {
          font-size: 25px;
        }
        .us-form-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 100%;
          gap: 20px;
          .us-input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            gap: 5px;
            .us-input-field {
              border-radius: 32px;
              border: unset;
              padding: 17px;
              width: 90%;
              color: #1e8bb0;
              font-family: nunito;
            }
          }
          .us-submit-button {
            background-color: #1e8bb0;
            color: white;
            padding: 9px 34px;
            border: unset;
            border-radius: 25px;
            font-size: 20px;
            cursor: pointer;
            width: 100%;
          }
        }
      }
    }
  }
  .copy-rights {
    width: 100%;
    color: #ffffff;
    background-color: #1e8bb0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    font-size: 14px;
  }
}
